*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(62, 96, 216);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.container{
    width: 80%;
    margin: 10px auto;
    text-align: center;
    line-height: 30px;
}

.logo{
    float: left;
}
.logo img{
    width: 110px;
}
nav{
    display: inline-block;
    text-align: calc(100%-170px);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

nav ul li a,
.foot-list li a{
    color: #fff;
}

nav ul li a:hover{
    text-decoration: underline;
}

#area-accesso{
    float: right;
}

/* hoover dei tasti */
#area-accesso a:hover,
.scarica-mac a:hover,
#apri-discord a:hover,
.foot-list li a:hover{
    color:rgb(62, 96, 216)
}

#area-accesso a{
    color: #000;
    height: 30px;
    width: 60px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 13px;
}
#jumbo{
    background-image: url(img/jumbo.png);
    background-size: cover;
    height: 450px;
    position: relative;
    top: 50px;
}

.text-jumbo{
    color: white;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jumbo .text-jumbo h1{
    margin: 20px;
    font-size: 50px;
}

#jumbo .text-jumbo p{
    font-size: 18px;
}

.scarica-mac,
#apri-discord,
.scarica-mac2{
    display: inline-block
}

.scarica-mac a{
    color: #000;
    height: 40px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: 20px;
}

#apri-discord a{
    color: #fff;
    height: 40px;
    width: 300px;
    background-color: rgb(26, 29, 31);
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: 20px;
}

/* Sezioni */
#second,
#fourth{
    background-color: rgb(244, 244, 244);
}

.section-1,
.section-2,
.section-3,
.section-4{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 100px 0 100px 0;
}

#item1,
#item3{
    float: left;
    margin-top: 150px;
    margin-right: 5%;
    width: 55%;
}

#item2{
    float: right;
    margin-top: 150px;
    margin-left: 5%;
    width: 55%;
}

.text-item1{
    float: right;
    margin-top: 150px;
    padding-left: 7%;
    width: 40%;
}

#text-item2{
    float: left;
    margin-top: 200px;
    padding-right: 7%;
    width: 40%;
}

.text-item1 h1,
#text-item2 h1{
    font-size: 45px;
    padding: 25px 0 20px 0;
}

.text-item1 p,
#text-item2 p{
    font-size: 20px;
    line-height: 30px;
}

.section-1::after,
.section-2::after,
.section-3::after{
    content: "";
    display: table;
    clear: both;
}

#item4{
    width: 100%;
}

#text-item4,
#text-4{
    text-align: center;
    width: 85%;
    margin: 0 auto;   
}

#text-item4 h2{
    font-size: 40px;
    padding: 25px 0 20px 0;
}

#text-item4 p{
    font-size: 16px;
    line-height: 25px;    
}

.scarica-mac2 a{
    color: #fff;
    height: 40px;
    width: 200px;
    background-color: rgb(123, 143, 218);
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: 20px;
    text-align: center;
}

footer{
    background-color: rgb(27, 29, 32);
    padding-bottom: 100px;
}

.section-5::after{
    content: "";
    display: table;
    clear: both;
}
.section-5{
    border-bottom: 2px solid rgb(123, 143, 218);
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 100px 0 20px 0;
}

.section-6{
    width: 80%;
    margin: 20px auto;
}

#col1{
    float: left;
    width: 30%;
}

#col2,
#col3,
#col4,
#col5{
    float: left;
    width: 16%;
}

.foot-list{
    list-style: none;
    font-size: 15px;
    color: #fff;
}

.first-list{
    color: rgb(123, 143, 218);
    font-weight: bold;
}

.foot-list li{
    padding: 3px;
}

.icon{
    color: #fff;
}

#area-registrazione a{
    color: #fff;
    height: 30px;
    width: 80px;
    background-color: rgb(124, 141, 218);
    padding: 3px 6px;
    border-radius: 15px;
    font-size: 12px;
    display: inline-block;
    line-height: 30px;
}